* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: coral;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 500;
}

.content {
    display: flex;
    width: 330px;
    gap: 7px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: none;
    padding: 24px 33px;
    font-size: 40px;
    background-color: white;
    color: black;
}

.reset {
    margin-top: 40px;
    padding: 12px 14px;
    font-size: 18px;
    width: auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    align-items: center;
}

.winner p {
    font-size: 35px;
    font-weight: 500;
}

.new_game {
    margin-top: 20px;
    padding: 12px 14px;
    font-size: 18px;
    width: auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.hide {
    display: none;
}

.color0 {
    color: crimson;
}

.colorX {
    color: slateblue;
}

@media (max-width: 600px) {
    .winner p {
        font-size: 27px;
        font-weight: 500;
    }
}